#wrapper{
  height: auto;
  width: auto;
  position: relative;
  /*background-image: url("https://scontent-lax3-2.cdninstagram.com/t51.2885-15/e35/15259088_1276699682387875_1238599792855089152_n.jpg");*/
  /*background: radial-gradient(circle, black, grey, grey, white, white)*/
  background-color: white;
}
header{
 width: auto;
 height: 100px;
 background-color: black;
 position: fixed;
 top: 0px;
 right: 0px;
 left: 0px;
 bottom: 0px;
}
header>h1{
  font-family: 'Homemade Apple', cursive;
  color: white;
  display: inline-block;
  position: relative;
  margin-left: 25px;
}
header>h2{
  color: white;
  font-family: 'Kanit', sans-serif;
  margin-left: 20px;
  display: inline-block;
  position: relative;
  margin-right: 25px;
  margin-top: 35px;
  float: right;
}
#about{
  height: auto;
  width: 1216px;
  background: white;
  display: block;
  margin-right: auto;
  margin-left: auto;
}
#emilyphoto{
  height: 412px;
  width: 600px;
  border: 3px solid black;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  display: inline-block;
}
.aboutbox{
  height: 412px;
  width: 600px;
  margin-left: auto;
  margin-right: auto;
  display: inline-block;
}
.aboxtop{
  text-align: center;
  height: 75px;
  width: 600px;
  background: repeating-linear-gradient(-45deg, #c3cbd8, white 5px);
  border: 3px solid black;
  display: inline-block;
}
.aboxtop>h2{
  font-family: 'Kanit', sans-serif;
  font-size: 40px;
  color: black;
  margin: auto;
}
h2>strong{
  letter-spacing: -3px;
}
.aboxbottom{
  height: 331px;
  width: 600px;
  background-color: white;
  border: 3px solid black;
  display: inline-block;
  background: repeating-linear-gradient(-45deg, #c3cbd8, white 5px);
}
main{
  height: auto;
  width: 1216px;
  margin-left: auto;
  margin-right: auto;
  border: 3px solid black;
  margin-top: 10px;
}
.portfolio{
  width: 100%;
  height: auto;
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  color: black;
  background: repeating-linear-gradient(-45deg, #c3cbd8, white 5px);
}
.portfolioheader>h3{
  display: inline-block;
  margin-left: 25px;
}
.portfolioheader>p{
  display: inline-block;
  /*position: relative;*/
  /*left: 735px;*/
  font-size: 13px;
  float: right;
  margin-right: 15px;
  margin-top: 20px;
  /*text-align: right;*/
}
.pastshoots{
  width: auto;
  height: auto;
  display: inline-block;
  position: relative;
  left: 25px;
}
.image{
  height: auto;
  width: 211px;
  display: inline-block;
  position: relative;
  vertical-align: top;
  border: 3px solid #363636;
}
.portfoliotext{
  width: 220px;
  height: auto;
  /*display: inline-block;*/
  /*float: right;*/
  margin: 5px;
}
.portfoliotext>p{
  position: relative;
  color: black;
  top: -15px;
}
.portfolio>p{
  color: grey;
  /*position: relative;*/
  /*left: 870px;*/
  font-size: 12px;
  /*top: 8px;*/
  float: right;
  margin-right: 15px;
  margin-top: 20px;
}


/*Cursive Fonts*/
/*font-family: 'Dancing Script', cursive;
font-family: 'Tangerine', cursive;
font-family: 'Sacramento', cursive;
font-family: 'Homemade Apple', cursive;
font-family: 'Alex Brush', cursive;*/

/*San-Serif Fonts*/
/*font-family: 'Kanit', sans-serif;*/
